provider "delphix" {
  url = "${var.url}"
  delphix_admin_username = "delphix_admin"
  delphix_admin_password = "${var.delphix_admin_password}"
}

resource "delphix_environment" "my-target-env" {
  //workaround for DLPX-57413
  depends_on = ["delphix_environment.my-source-env"]
  name = "LINUXTARGET"
  description = "Provisioned via Terraform"
  address = "172.16.173.131"
  user_name = "delphix"
  user_password = "delphix"
  toolkit_path = "/u01/app/toolkit"
  server_id = "54321"
}

resource "delphix_environment" "my-source-env" {
  name = "LINUXSOURCE"
  description = "Provisioned via Terraform"
  address = "172.16.173.130"
  user_name = "delphix"
  user_password = "delphix"
  toolkit_path = "/u01/app/toolkit"
}

resource "delphix_data_source_oracle" "my-dsource" {
  name = "Employee Oracle 11G DB"
  description = "Provisioned via Terraform"
  user_name = "delphixdb"
  password = "delphixdb"
  group_name = "Untitled"
  environment = "${delphix_environment.my-source-env.id}"
  environment_user = "delphix"
  link_now = true
  instance = "orcl"
  oracle_home = "/u01/app/oracle/product/11.2.0.4/db_1"
}

resource "delphix_vdb" "my-speedy-data" {
  count = "${var.num_vdbs}"
  group_name = "Untitled"
  name = "My Speedy VDB ${count.index + 1}"
  db_name = "speedy${count.index + 1}"
  source = "${delphix_data_source_oracle.my-dsource.id}"
  environment = "${delphix_environment.my-target-env.id}"
  oracle_home = "/u01/app/oracle/product/11.2.0.4/db_1"
}

variable "url" {
  default = "http://de"
}

variable "num_vdbs" {
  default = 1
}

variable "delphix_admin_password" {}